body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 750px;
    border-radius: 10px;
}

.screen {
    display: flex;
    align-items: stretch;
    padding: 10px;
    flex: 4;
    background-color: rebeccapurple;
    color: white;
}
.output{
    flex: 1;
    background-color: aliceblue;
    border-radius: 5px;
}
.input {
    flex: 10;
}