body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 750px;
    border-radius: 10px;
}
.output {
    display: flex;
    align-items: stretch;
    padding: 10px;
    flex: 3;
    background-color: rebeccapurple;
}
.screen {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 25px;
    gap: 5px;
}
.previous_result{
    font-size: 28px;
    align-self: flex-start;
    font-weight: 400;
}
.text_display{
    font-size: 54px;
    align-self: flex-end;
}

.input {
    display: flex;
    flex-direction: row;
    flex: 7;
    padding: 10px;
    gap: 10px;
}

/* Influence all buttons */
.input button {
    border-radius: 5px;
    font-weight: 800px;
    font-size: 40px;
}

.left_buttons{
    flex: 3;
    display: flex;
    gap: 10px;
}
.left_buttons div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.left_buttons button {
    flex: 1;
    background-color: white;
}

.right_buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right_buttons * {
    flex: 1;
    background-color: white;

}
