body {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #00b4d8;
}

.calculator {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #003566;
    width: 41vh;
    height: 1000px;
    max-width: 100%;
    max-height: 60vh;
     
    border-radius: 10px;
}
.output {
    display: flex;
    align-items: stretch;
    padding: 15px;
    flex: 3;
}
.screen {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1;
    background-color: #FFD60A;
    border-radius: 5px;
    padding: 25px;
    gap: 5px;
    color: #000814;
}
.previous_result{
    font-size: 28px;
    align-self: flex-start;
    font-weight: 400;
}
.text_display{
    font-size: 54px;
    align-self: flex-end;
}

.input {
    display: flex;
    flex-direction: row;
    flex: 7;
    padding: 15px;
    gap: 20px;
}

/* Influence all buttons */
.input button {
    border-radius: 5px;
    font-weight: 800px;
    font-size: 40px;
    background-color: #001D3D;
    color: #FFC300;
}

.left_buttons{
    flex: 3;
    display: flex;
    gap: 20px;
}
.left_buttons div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}
.left_buttons button {
    flex: 1;
}

.right_buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.right_buttons * {
    flex: 1;
}

button:hover{
    transform: scale(1.1);
    border: 1px #ffd60a outset;
}
