body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 500px;
    height: 750px;
    border-radius: 10px;
}

.screen {
    display: flex;
    align-items: stretch;
    padding: 10px;
    flex: 3;
    background-color: rebeccapurple;
    color: white;
}
.output{
    flex: 1;
    background-color: aliceblue;
    border-radius: 5px;
}
.input {
    display: flex;
    flex-direction: row;
    flex: 7;
    padding: 10px;
    gap: 10px;
}
.input button {
    border-radius: 5px;
    font-weight: 800px;
    font-size: 32px;
}
.left_buttons{
    flex: 3;
    display: flex;
    gap: 10px;
}
.left_buttons div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}
.left_buttons button {
    flex: 1;
    background-color: white;
}

.right_buttons{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right_buttons * {
    flex: 1;
    background-color: white;

}
